@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    // url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accordion_arrow:before {
  content: "\e900";
  color: #ffffff;
}
.icon-calendar:before {
  content: "\e901";
  color: $color-1;
  position: absolute;
  left: -20px;
  top: -1px;
  font-size: $fz-1;
}
.icon-timer:before {
  content: "\e903";
  color: $color-1;
  position: absolute;
  left: -22px;
  top: -1px;
  font-size: $fz-1-2;
}
.icon-email:before {
  content: "\e904";
  color: #edc5a2;
  position: absolute;
  top: 5px;
  left: -50px;
  font-size: $fs-2-1;
}
.icon-facebook:before {
  content: "\e905";
  color: $color-1;
  font-size: 17px;
  line-height: 20px;
}
.icon-insta:before {
  content: "\e907";
  color: $color-1;
  font-size: 26px;
  line-height: 20px;
}
.icon-pin_adress:before {
  content: "\e908";
  color: #edc5a2;
  position: absolute;
  top: 5px;
  left: -50px;
  font-size: $fs-2-1;
}
.icon-plus:before {
  content: "\e909";
  color: $color-1;
  position: absolute;
  font-size: 36px;
  right: 0;
  cursor: pointer;
}
.contact-popap__title-btnClose.icon-plus:before {
  font-size: $fz-4;
  top: 0px;
  right: -5px;
}
.icon-rate__star:before {
  content: "\e90a";
  color: #edc5a2;
}
.icon-slider_arrow:before {
  content: "\e90b";
  color: $color-1;
}
.icon-user-list:before {
  content: "\e90c";
  color: $color-1;
  position: absolute;
  left: -20px;
  top: -1px;
  font-size: $fz-1;
}
.icon-viber:before {
  content: "\e90e";
  color: $color-1;
  margin-left: -7px;
  font-size: 26px;
  line-height: 20px;
}
.icon-vk:before {
  content: "\e90f";
  color: $color-1;
  font-size: 20px;
  line-height: 20px;
}
.icon-credit-card:before {
  content: "\e93f";
  color: $color-1;
  position: absolute;
  left: -20px;
  top: -1px;
  font-size: $fz-1;
}
.icon-history:before {
  content: "\e94d";
  color: $color-1;
}
.icon-clock:before {
  content: "\e94e";
  color: $color-1;
  position: absolute;
  left: -20px;
  top: -1px;
  font-size: $fz-1;
}
.icon-user-tie:before {
  content: "\e976";
  color: $color-1;
  position: absolute;
  left: -20px;
  top: -1px;
  font-size: $fz-1;
}
.icon-svg:before {
  content: "\eae9";
  color: $color-1;
}


