.reviews {

    &__body {
        background: linear-gradient(90deg, rgb(21, 23, 30) 24%, rgb(10, 12, 17) 24%);
        padding: $block-padding-top-bottom 0;
        position: relative;
        overflow: hidden;
    }
}
.carousels {

    &__conteiner {
        max-width: 1440px;
        margin: 0 auto;
    }
}
.carousel-username {
    margin-bottom: 60px;
    &__item {
        img{
            margin-right: 8px;
        }
        > div{
            display: flex;
        }
    }

    &__item-title {
        font-style: normal;
        font-weight: bold;
        font-size: $fz-1;
        text-transform: uppercase;
        color: $color-1;
        span{
            display: inline-block;
            margin-top: 12px;
            font-weight: normal;
            font-size: $fs-01;
            letter-spacing: 0.05em;
            mix-blend-mode: normal;
            opacity: 0.8;
        }
    }
}
.carousel-vidoe-reviews {
    display: flex;

}
.carousel-reviews {
    
    &__item {
        padding-right: 80px;
        
    }

    &__item-title {
        font-style: normal;
        font-weight: bold;
        font-size: $fz-2;
        line-height: 120%;
        letter-spacing: 0.05em;
        color: $color-1;
        margin-bottom: 20px;
    }

    &__item-paragraph {
        font-weight: normal;
        font-size: $fs-01;
        line-height: 160%;
        letter-spacing: 0.05em;
        mix-blend-mode: normal;
        color: $color-1;
        opacity: 0.8;
        margin-bottom: 27px;
    }

    &__item-rate {
        display: flex;
        justify-content: space-between;
    }

    // &__item-star {

    // }

    &__item-aboute {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.05em;
        color: $color-3;
        &:hover{
            color: $color-1;
        }
    }
}
.carousel {

    &__info-video {
        padding-top: 20px;
        width: 45%;
        height: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
        &:after{
            content: '';
            border: 1px solid $color-3;
            position:absolute;
            left:25px;
            top:0px;
            width:100%;
            height:93%;
            z-index:10;
            pointer-events: none;
        }
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (max-width: 1200px ) {
    // .carousel__info-video{
    //     margin-top: 50px;
    // }
}
@media screen and (max-width: 410px ) {
    .carousel {
        &__info-video {
                width: 100%;
                height: 35%;
        }
    }
    }

.carousel-vidoe-reviews {
    position: relative;
    .carousel-username {

		&__dots-arrows {
            position: absolute;
            right: 55%;
            top: 0px;
            z-index: 10000;
		}

		&__dots {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 50%);
            top: -50%;
		}

		// &__arrows {
		// }
}

}



@media screen and (max-width: 1200px ) {
    .carousel-vidoe-reviews {
        flex-direction: column;
        .carousel-username {

            &__dots-arrows {
                right: 20px;
            }
        }
    }
    .carousel {
        &__info-video {
                width: 100%;
                height: 40%;
        }
    }
    .carousel-reviews__item  {
        padding-right: 20px;
        }
}

@media screen and (max-width: 410px ) {
    .carousel-vidoe-reviews {
        .carousel-username {
            &__dots-arrows {
                right: 0px;
            }
            &__dots-arrows {
                position: absolute;
                right: 55%;
                top: 0px;
                z-index: 10000;
            }
    
            &__dots {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 50%);
                top: -50%;
            }
        }
        .carousel-reviews__item  {
            padding-right: 0px;
            }
    }
}