.rent-type__block{
    padding: $block-padding-top-bottom 0;
    background-color: $color-4;
}



.rent-type {

    &__block {
    }

    &__aboute {
        background-color: $color-4;
        display: flex;

        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        row-gap: 24px;
        flex-wrap: wrap;
    }

    &__aboute-item {
        position: relative;
        flex: 1 0  333px;
    }

    &__aboute-item-img {
        height: 100%;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }

    }

    &__aboute-item-btn {
        display: flex;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%,-50%);

        &:hover{
            
            
        }
        span{
            width: 222px;
            height: 48px;
            display: inline;
            color: $color-1;
            z-index: 10;
            vertical-align: middle;
            text-align: center;
            text-transform: uppercase;
            font-style: normal;
            font-weight: 600;
            font-size: $fz-1;
            border: 1px solid $color-1;
            border-radius: 6px;
            line-height: 48px;
            &:hover{
                background-color: $color-1;
                color: $color-4;
            }
            
        }
    }
}

