@import "scss_parts/nullstyle.scss";


@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "scss_parts/fonts";
@import "scss_parts/icomoonstyle";

$fz-1:18px;
$fz-2:36px;



$color-1: #FFFFFF;
$color-2: #15171e;
$color-3: #EDC5A2;


*{
	font-family: "Gilroy";
}

#wrapper{
    background-color: $color-2;
    
	padding: 0 35px;
}
#conteiner{
    max-width: 1920px;
    margin: 0 auto;
}
@import "scss_parts/header";
@import "scss_parts/section__rent-car";





@import "scss_parts/slider";


