@import "nullstyle";


@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "fonts";
*{
	font-family: "Gilroy";
}

#wrapper{
    background-color: #15171e;
    height: 100vh;
	padding: 0 10px;
}
#conteiner{
    max-width: 1920px;
    margin: 0 auto;
}
@import "header";

